{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

<style>
   
 .hhh{
      text-decoration: none;
      color: antiquewhite;
  }
  .di {
    position: relative;
  }
  body{
    
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.bgc-h-secondary-l3:hover, .bgc-secondary-l3 {
    background-color: #ebeff1!important;
}
.h-4 {
    height: 2rem;
}
.w-4 {
    width: 2rem;
}
.d-zoom-1, .d-zoom-2, .d-zoom-3, .dh-zoom-1, .dh-zoom-2, .dh-zoom-3 {
    transition: -webkit-transform 180ms;
    transition: transform 180ms;
    transition: transform 180ms,-webkit-transform 180ms;
}
.mr-25, .mx-25 {
    margin-right: .75rem!important;
}

.p-25 {
    padding: .75rem!important;
}
.radius-1 {
    border-radius: .25rem!important;
}
[class*=bgc-h-] {
    transition: background-color .15s;
}

.text-default-d3 {
    color: #416578!important;
}
.font-bolder, .text-600 {
    font-weight: 600!important;
}
.text-90 {
    font-size: .9em!important;
}


.bgc-h-secondary-l4:hover, .bgc-secondary-l4 {
    background-color: #f2f4f6!important;
}
.text-danger-m1 {
    color: #da3636!important;
}
.text-green-m1 {
    color: #2c8d6a!important;
}
.text-95 {
    font-size: .95em!important;
}
.containe{
  justify-content: center;
  text-align: center;
  margin: 5% 10%;
}
.h{}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <div class="di">
        h
    </div>
    <!--  <div class="row my-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <table class="table">
                    <thead>
                        {% for events in user.events %}
                      <tr>
                        <th scope="col"><h4>{{events.titre}}</h4></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for client in client %}
                        {% if client.event == events %}
                     <tr>
                        <th scope="row"></th>
                        <td> {{client.username}}</td>
                        <td>{{client.email}}</td> 
                        <td></td>
                        <td></td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                     {% endfor %}
                    </tbody>
                  </table>  
            </div>
        </div>
      </div>--> 

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

      <div class="containe">
          <div class="rows">
              <div class="col">
                  <div class="card ccard radius-t-0 h-100">
                      <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                      <!-- the blue line on top -->
                      {% for events in user.events %}
                      <div class="card-header pb-3 brc-secondary-l3">
                          <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                            {{events.titre}}
                          </h5>
                      </div>
                      {% for client in client %}
                        {% if client.event == events %}
                      <div class="card-body pt-2 pb-1">
                          <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                              <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
                                  <i class="h h-4 w-4 fa-solid fa-user"></i>
                              </span>
      
                              <span class="ml-auto text-dark-l2 text-nowrap">
                                {{client.username}}  | {{client.email}}
                              </span>
      
                             
                          </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                     {% endfor %}
                  </div>
              </div>
          </div>
      </div>
{% endblock %}