
{% extends 'base.html.twig' %}

{% block title %}{{event.titre}}{% endblock %}
{% block stylesheets %}
  
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/showev.css') }}">
<style>
  
</style>
    
  <!--   <div class="row">
        <div class="fa">
            {% if event.image %}
                <img src="{{ asset('uploads/'~event.image )}}">
            {% else %}
                <img src="{{ asset('image/null.jpg' )}}">
            {% endif %}
        <div>
                <h3 class="card-tit">
                    {{event.titre}}
                </h3>
                <div class="card-date">
                    {{event.date | date("m/d/Y") }}
                </div>
        </div>       
        </div>
                    <div class="card-text">
                        {{event.description}}
                    </div>
      </div>--> 
      <div class="row">.
      </div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="project-info-box border border p-0">
                <div class="card-header p-3 special-bg-color">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                      Aperçu
                    </h5>
                </div>
                <div class="p-3">
                  <p><b>{{event.titre}}</b></p>
                  <p><b>Date:</b> {{event.date | date("m/d/Y") }}</p>
                  <p><b>lieu:</b> {{event.lieu}}</p>
                </div>
               <!-- <p><b>Tools:</b> Illustrator</p>
                <p class="mb-0"><b>Budget:</b> $500</p> -->
            </div> <!-- / project-info-box-->

             <div class="project-info-box border border mt-0 p-0">
                <div class="card-header p-3 special-bg-color">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                      Description
                    </h5>
                </div>
                <div class="p-3">
                  <p class=" mb-0 break-white-space">{{event.description}}</p>
                </div>
            </div>
            {% if app.user %}
            {% if app.user.id == event.user.id %}
              <div class="project-info-box border border mt-0 p-0">
                <div class="card-header p-3 special-bg-color">
                    <h5 class="card-title mb-2 mb-md-0 text-dark-m3">
                      Clients
                    </h5>
                </div>
                <ul>
                  {% for client in event.clents %}
                    <li class="p-3 text-dark-l2 text-nowrap" style="list-style: none;">
                      {{client.username}}  | {{client.email}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% endif %}
        </div>

        <div class="col-md-8">
            <div
              style="
                width: 100%; padding-top: 56%;
                background-image: url('{{event.image ? asset("uploads/"~event.image) : asset('image/null.jpg' ) }}');
                background-size: cover; background-position: center;
              "
            ></div>
            <div class="project-info-box border">
              {% if event.isArchived == false %}
                {% if app.user == event.user %}
                  <p>
                    <a class="fs-4 me-2" href="{{path('vos_event_edite',{id:event.id})}}"><i class="text-primary fa-solid fa-pen-to-square"></i></a>
                    <a class="fs-4" href="{{path('vos_event_delet',{id:event.id})}}"><i class="text-danger fa-sharp fa-solid fa-trash"></i></a>
                  </p>
                {% else %}
                  <p><a href="{{path('app_reserv',{id:event.id})}}"><button class="btn1 btn-dark">ticket</button></a></p>
                {% endif %}
              {% else %}
                <i class="arch" >archivé</i> 
              {% endif %}
                
            </div>
            <div class="project-info-box border">
            {{ form_start(form) }}
              <div class="fo">
                  {{ form_errors(form) }}
              </div>

              <div class="rows">
                <div class="colo h">
                    {{ form_row(form.text) }}
                </div>
                <div class="colo wd">
                  {{ form_row(form.commenter) }}
                </div>
              </div>
            {{ form_end(form) }}
              <hr>
            <ul class="">
              {% for comment in event.comments %}
                <li class="list-group">
                  <div class="d-flex justify-content-between">
                    <h5 class="">{{comment.user.username}}</h5>
                    <ul class="">{{ comment.createdAt | date('d/m/Y') }}</ul>
                  </div>
                  <p class="">{{comment.text}}</p>
                </li> <hr>
                 <br>
                <hr class="dropdown-divider"> 
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
</div>
{% endblock %}
